<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="lol johnahnz0rs is l33t">
        <title>Date and Time</title>
            {% load static %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                The current time and date:
            </div>
            <div class="date_time">
                <h2>{{ date }}</h2>
                <h2>{{ time }}</h2>
            </div>
        </div>
    </body>
</html>