<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="dojo survey form; johnahnz0rs is l33t">
	<link rel="stylesheet" href="../static/index.css">
	<title>Dojo Survey Index</title>
</head>
<body>
	<div class='wrapper'>
		<h1>Hello World!</h1>
		<h3>Please fill out and submit the form below for real ultimate power</h3>
		<div class="form">
			<form action="./result" method="post">
				What is j00r name? <input name="name" type="text"><br>
				Please explain why, or why not, you are l33t: <input name="why-l33t" type="text"><br>
				A/S/L? <input name="ASL" type="text"><br>
				<input type="submit" value="Submit this shizzzz">
			</form> <!-- end form -->
		</div> <!-- end div.form -->
		<h3>Thx 4 ur inforz lulz</h3>
	</div> <!-- end wrapper -->
</body>
</html>