<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="dojo survey results; johnahnz0rs is l33t">
	<link rel="stylesheet" href="../static/submitted_info.css">
	<title>Dojo Survey Results</title>
</head>
<body>
	<div class="wrapper">
		<img alt="gj bro" src="../static/gj.png"><br>
		Good job, bro
		<div class="results">
			<ul>
				<li>acc0rding to yu0, j00r nam3 is: {{ name }}</li>
				<li>j00 thinx yu0 ar3 n3wb bcuz: {{ why }}</li>
				<li>lol yu0r a/s/l inf0r is: {{ ASL }}</li>
			</ul>
		</div> <!-- end .results -->
		<p><a href="../">go back</a></p>
	</div> <!-- end wrapper -->
</body>
</html>