<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="about me: johnahnz0rs is l33t">
	<style>
		* {
			width: 970px;
			margin: auto;
			padding: 20px;
			font-family: trebuchet, helvetica, "sans serif";
			background-color: lightblue;
			color: white;
		}
	</style>
	<title>about me</title>
</head>
<body>
	<p>I am a full stack web developer aka l33t hax0rs, and I will pwnz0rs j00r b0x0rs. I love gardening, walking my dog, and meeting new people! People might be surprised to learn that I went on three dates with yo mama because I usually get up in them guts on the first date.</p>
	<p><a href="..">back</a></p>
</body>
</html>