<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="index: johnahnz0rs is l33t">
	<title>lol index</title>
	<style>
		* {
			width: 970px;
			margin: auto;
			padding: 20px;
			font-family: trebuchet, helvetica, "sans serif";
			background-color: lightblue;
		}

	</style>
</head>
<body>
	<p>Welcome to my portfolio! My name is johnahnz0rs, and I am l33t!</p>
	<p><a href="./projects">My projects</a></p>
	<p><a href="./about">About me</a></p>
</body>
</html>