<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="about me: johnahnz0rs is l33t">
	<style>
		* {
			width: 970px;
			margin: auto;
			padding: 20px;
			font-family: trebuchet, helvetica, "sans serif";
			background-color: lightblue;
			color: white;
		}
		li {
			padding: 0px;
		}
	</style>
	<title>projects</title>
</head>
<body>
	<h3>My Projects:</h3>
	<ul>
		<li>No More Mr. Nice Guy (1989)</li>
		<li>Step in the Arena (1991)</li>
		<li>Daily Operation (1992)</li>
		<li>Hard to Earn (1994)</li>
		<li>Moment of Truth (1998)</li>
		<li>The Ownerz (2003)</li>
	</ul>
	<p><a href="..">back</a></p>
</body>
</html>