<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='UTF-8'>
	<meta name='description' content='Great Number Game - Coding Dojo'>
	<link rel='stylesheet' href='{{ url_for("static", filename="style.css") }}'>
	<!-- <script src='{{ url_for("static", filename="great_number_game.js") }}'></script> -->
	<title>Great Number Game</title>
	
</head>

<body>
	<div class='wrapper'>
		<h1>Welcome to the Great Number Game!</h1>
		<p>I am thinking of a number between 1 and 100</p>
		<p>Take a guess!</p>
		<div class='guess-correct'>
			<h1>{{ session['number'] }} was the number!</h1>
			<br>
			<form method='get' action='/'>
				<input type='submit' value='Play Again' name='play-again'>
			</form>
		</div>
	</div> <!-- end wrapper -->
</body>

</html>