<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name='description' content='johnahnz0rs > coding dojo > mean > node > cars_and_cats server'>
		<link rel='stylesheet' href='/stylesheets/bootstrap.css'>
		<script src='/stylesheets/jquery.min.js'></script>
		<title>Cats</title>
		<style>
			img { width: 100%; }
			.container { margin-top: 30px; }
		</style>
	</head>
	<body>
		<div class="container">
			
			<div class='row'>
				
				<div class='col-md-3'>
					<div class='thumbnail'>
						<a href="/images/airplane_cat.jpg" class='text-center'>
							<img src="/images/airplane_cat.jpg" alt="airplane_cat">
							<div class="caption"><p>meow</p></div>
						</a>
					</div>
				</div>
				<div class='col-md-3'>
					<div class='thumbnail'>
						<a href="/images/farted_cat.jpg" class='text-center'>
							<img src="/images/farted_cat.jpg" alt="farted_cat">
							<div class="caption"><p>meow</p></div>
						</a>
					</div>
				</div>
				<div class='col-md-3'>
					<div class='thumbnail'>
						<a href="/images/lt_dan_cat.jpg" class='text-center'>
							<img src="/images/lt_dan_cat.jpg" alt="lt_dan_cat">
							<div class="caption"><p>meow</p></div>
						</a>
					</div>
				</div>
				<div class='col-md-3'>
					<div class='thumbnail'>
						<a href="/images/serious_cat.jpg" class='text-center'>
							<img src="/images/serious_cat.jpg" alt="serious_cat">
							<div class="caption"><p>meow</p></div>
						</a>
					</div>
				</div>

			</div>



		</div>
	</body>
</html>