<div class="games">

    <h1>Player Status - Game {{gameNumber}}</h1>

    <div class="games-link-div">
        <ul class="inlineList">
            <li><a [routerLink]="['/status', 'games', '1']"><h3 class="game-link">Game 1</h3></a></li>
            <!--<li><h3 class="game-link" (click)="redirectToTwo()">Game 2</h3></li>-->
            <li><h3 class="game-link">Game 2</h3></li>
            <li><a [routerLink]="['/status', 'games', '3']"><h3 class="game-link-right">Game 3</h3></a></li>
        </ul>
    </div>


    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Player Name</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let player of players">
            <td>
                <a [routerLink]="['/players', player._id]">{{ player.name }}</a></td>
            <td>
                <button *ngIf="player.game2 !== 'playing'" class="btn btn-sm status-button btn-outline-dark" (click)="choosePlaying(player)">Playing</button>
                <button *ngIf="player.game2 === 'playing'" class="btn btn-sm status-button playing">Playing</button>

                <button *ngIf="player.game2 !== 'not playing'" class="btn btn-sm status-button btn-outline-dark" (click)="chooseNotPlaying(player)">Not Playing</button>
                <button *ngIf="player.game2 === 'not playing'" class="btn btn-sm status-button not-playing">Not Playing</button>

                <button *ngIf="player.game2 === 'playing' || player.game2 === 'not playing'" class="btn btn-sm status-button btn-outline-dark" (click)="chooseUndecided(player)">Undecided</button>
                <button *ngIf="player.game2 !== 'playing' && player.game2 !== 'not playing'" class="btn btn-sm status-button undecided">Undecided</button>
            </td>
        </tr>


        </tbody>



    </table>



</div>