<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<title>disappearing ninja blue</title>
	<style>
		* {
			font-family: trebuchet, helvetica, "sans serif";
		}
		.wrapper {
			width: 970px;
			margin: 20px auto;
		}
		p {
			text-align: center;
		}
		img {
			display: block;
			margin: auto;
		}
		.info {
			width: 550px;
			text-align: left;
			margin: auto;
		}
		.blue {
			color: blue;
			font-weight: bold;
			text-decoration: underline;
		}
	</style>
</head>
<body>
	<div class="wrapper">
		<img alt="Leonardo" src="../static/leonardo.jpg">
		<div class="info"><span class="blue">Leonardo</span>: The tactical, courageous leader and devoted student of his sensei Master Splinter, Leonardo wears a blue mask and wields two katana. 
			<ul>
				<li>As the most conscientious of the four, he often bears the burden of responsibility for his brothers, which commonly leads to conflict with Raphael.</li>
				<li>He is a charming character, with a super hero attitude, but his role as responsible leader was the source of contention to the other turtles in several episodes.</li>
				<li>He had a brief romantic interest in a Japanese girl named Lotus Blossom.</li>
				<li>Leonardo was named after the Italian polymath, painter, engineer, inventor, writer, anatomist, and sculptor, Leonardo da Vinci.</li>
				<li><a href="https://en.wikipedia.org/wiki/Teenage_Mutant_Ninja_Turtles#Main_characters">(Source1)</a> <a href="http://turtlepedia.wikia.com/wiki/List_of_Teenage_Mutant_Ninja_Turtles_(1987_TV_series)_characters">(Source2)</a></li>
			</ul>
		</div> <!-- end .info -->
	</div> <!-- end .wrapper -->
</body>
</html>