<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<title>disappearing ninja!!!!!11!</title>
	<style>
		* {
			font-family: trebuchet, helvetica, "sans serif";
		}
		.wrapper {
			width: 970px;
			margin: 20px auto;
		}
		p {
			text-align: center;
		}
		img {
			display: block;
			margin: auto;
		}
	</style>
</head>
<body>
	<div class="wrapper">
		<img alt="teenage mutant ninja turtles: anarchists in a half-shell" src="../static/tmnt.png">
		<p>COWABUNGA!!!1</p>
	</div> <!-- end .wrapper -->
</body>
</html>