<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<title>disappearing ninja n3wb</title>
	<style>
		* {
			font-family: trebuchet, helvetica, "sans serif";
		}
		.wrapper {
			width: 970px;
			margin: 20px auto;
		}
		p, h1 {
			text-align: center;
		}
		img {
			display: block;
			margin: auto;
		}
	</style>
</head>
<body>
	<div class="wrapper">
		<h1>3RR0R!!1! Not a T0rtl3</h1>
		<img alt="not april, n3wb; look f0r t3h h0tty elsewhere" src="../static/notapril.jpg">
		<p>not april, n3wb; look f0r t3h h0tty elsewhere</p>
	</div> <!-- end .wrapper -->
</body>
</html>