<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<title>disappearing ninja orange</title>
	<style>
		* {
			font-family: trebuchet, helvetica, "sans serif";
		}
		.wrapper {
			width: 970px;
			margin: 20px auto;
		}
		p {
			text-align: center;
		}
		img {
			display: block;
			margin: auto;
		}.info {
			width: 550px;
			text-align: left;
			margin: auto;
		}
		.orange {
			color: orange;
			font-weight: bold;
			text-decoration: underline;
		}
	</style>
</head>
<body>
	<div class="wrapper">
		<img alt="Michelangelo" src="../static/michelangelo.jpg">
		<div class="info">
				<span class="orange">Michelangelo</span>, the most stereotypical teenager of the team, is a free-spirited, relaxed, and often goofy jokester, and known for his love of pizza.
				<ul>
					<li>Michelangelo wears an orange mask and wields a pair of nunchucks but later wields a grappling hook. He provides the comic relief, though he still has an adventurous side.</li>
					<li>He is the most relaxed of the group, mostly interested with pizza and having a good time. He shows characteristics of a "surfer" type and is often depicted with a Southern Californian accent.</li>
					<li>He used a lot of slang, and is the source for many of the catch phrases such as "Cowabunga!".</li>
					<li>At times he cross dresses to fool many villains. He had a crush on a Neutrino girl named Kala.</li>
					<li>He is named after the Italian Renaissance painter, sculptor, architect, poet, and engineer, Michelangelo. His name was originally misspelled "Michaelangelo" by Peter Laird and Kevin Eastman.</li>
					<li><a href="https://en.wikipedia.org/wiki/Teenage_Mutant_Ninja_Turtles#Main_characters">(Source)</a> <a href="http://turtlepedia.wikia.com/wiki/List_of_Teenage_Mutant_Ninja_Turtles_(1987_TV_series)_characters">(Source2)</a></li>
			</ul>
		</div> <!-- end .info -->
	</div> <!-- end .wrapper -->
</body>
</html>