<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<title>disappearing ninja purple</title>
	<style>
		* {
			font-family: trebuchet, helvetica, "sans serif";
		}
		.wrapper {
			width: 970px;
			margin: 20px auto;
		}
		p {
			text-align: center;
		}
		img {
			display: block;
			margin: auto;
		}
		.info {
			width: 550px;
			text-align: left;
			margin: auto;
		}
		.purple {
			color: blue;
			font-weight: bold;
			text-decoration: underline;
		}
	</style>
</head>
<body>
	<div class="wrapper">
		<img alt="Donatello" src="../static/donatello.jpg">
		<div class="info">
			<span class="purple">Donatello</span>: Turtle with the purple bandana who wields a bo staff.
			<ul>
				<li>He is interested in science and is constantly tinkering with various inventions. The scientist, inventor, engineer, and technological genius.</li>
				<li>A running gag was that most of his inventions exploded or otherwise malfunctioned, but it was still Donatello who came through to save the day most of the time.</li>
				<li>Donatello was the turtle with the most vocal negativity towards humans. But Irma seemed to be more interested in him than any of the other turtles.</li>
				<li>Donatello is perhaps the least violent turtle, preferring to use his knowledge to solve conflicts, but never hesitates to defend his brothers.</li>
				<li>He is named after the early Renaissance Italian artist and sculptor from Florence, Donatello.</li>
				<li><a href="https://en.wikipedia.org/wiki/Teenage_Mutant_Ninja_Turtles#Main_characters">(Source)</a> <a href="http://turtlepedia.wikia.com/wiki/List_of_Teenage_Mutant_Ninja_Turtles_(1987_TV_series)_characters">(Source2)</a></li>
			</ul>
		</div> <!-- end .info -->
	</div> <!-- end .wrapper -->
</body>
</html>