<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<title>disappearing ninja red</title>
	<style>
		* {
			font-family: trebuchet, helvetica, "sans serif";
		}
		.wrapper {
			width: 970px;
			margin: 20px auto;
		}
		p {
			text-align: center;
		}
		img {
			display: block;
			margin: auto;
		}
		.info {
			width: 550px;
			text-align: left;
			margin: auto;
		}
		.red {
			color: blue;
			font-weight: bold;
			text-decoration: underline;
		}
	</style>
</head>
<body>
	<div class="wrapper">
		<img alt="Raphael" src="../static/raphael.jpg">
		<div class="info">
			<span class="red">Raphael</span>: Turtle with the red bandana who wields two sais. 
			<ul>
				<li>The team's bad boy, Raphael is sarcastic, often jokes, and seems to get irritated easily.</li>
				<li>He has an aggressive nature, and seldom hesitates to throw the first punch. He is often depicted with a very pronounced New York accent.</li>
				<li>His personality can be fierce and sarcastic, and oftentimes delivers deadpan humor.</li>
				<li>He is intensely loyal to his brothers and sensei.</li>
				<li>Raphael's love interest in the series was a female lizard named Mona Lisa but she was only seen in one episode.</li>
				<li>He is named after the Italian painter and architect of the High Renaissance, Raphael.</li>
				<li><a href="https://en.wikipedia.org/wiki/Teenage_Mutant_Ninja_Turtles#Main_characters">(Source)</a> <a href="http://turtlepedia.wikia.com/wiki/List_of_Teenage_Mutant_Ninja_Turtles_(1987_TV_series)_characters">(Source2)</a></li>
		</div> <!-- end .info -->
	</div> <!-- end .wrapper -->
</body>
</html>