<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="johnahnz0rs > coding dojo > mean > express.js > Mongoose Dashboard">
		<link rel="stylesheet" href="/bootstrap.css">
		<link rel="shortcut icon" href="/favicon.ico">
		<script src="/jquery.min.js"></script>
		
		<title>Mongoose Dashboard</title>
		<style>
			.container { margin: 40px auto; }
		</style>
	</head>
	<body>
		<div class="container">
			<h1>Edit Doggo</h1>
			<% if (dog) { %>
				<form method="post" action="/dogs/<%= dog._id %>">	
					<p>Name: <input type="text" name="name" value="<%= dog.name %>"></p>
					<p>Age (years): <input type="text" name="age" value="<%= dog.age %>"></p>
					<p>Good Boy?
						<input type="radio" name="good_boy" value="yes" <% if(dog.good_boy) { %>checked<% } %>>Yes 
						<input type="radio" name="good_boy" value="no" <% if (!dog.good_boy) { %>checked<% } %>>No
					</p>
					<p><input type="submit" value="Submit"></p>

				</form>
			<% } %>
			
			<p><a href="/">Back</a></p>




		</div>
	</body>
</html>