

input {
	width: 400px;
	height: 20px;
	padding: 5px;
	border: 2px solid lightblue;
	border-radius: 5px;
}

button {
	width: 200px;
	padding: 7px 20px;
	background-color: lightblue;
	color: white;
	font-weight: bold;
	border-radius: 5px;
}