<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<link rel="stylesheet" href="../static/dojos.css">
	<title>Form - Landing Page</title>
</head>
<body>
	<div class="wrapper">
		<h1>Form: johnahnz0rs is l33t</h1>
		<p>Fill and submit this form if johnahnz0rs is l33t. If you do not, then johnahnz0rs is l33t.</p>
		<div class="newform">
			<form action="" method="post">
				j00r name: <input type="text" name='name'><br>
				johnahnz0rs is l33t: <input type="radio" value="yes" checked name="l33t" id="johnahnz0rs_is_l33t"><label for "johnahnz0rs_is_l33t">obvi lol</label><br>
				<input type="submit" value="submit">
			</form>
		</div> <!-- end form -->
		<p><a href="../">Back</a></p>
	</div> <!-- end wrapper -->
</body>
</html>