<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<link rel="stylesheet" href="../static/index.css">
	<title>Index - Landing Page</title>
</head>
<body>
	<div class='wrapper'>
		<h1>Hello, World!</h1>
		<p>You are n00b; johnahnz0rs is l33t.</p>

		<p id="links">Click these links:
		<ul>
			<li><a href="./ninjas">Re: Ninja</a></li>
			<li><a href="./dojos/new">Fill out a form for real ultimate power</a></li>
		</ul>
		</p>
	</div> <!-- end wrapper -->
</body>
</html>