<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<link rel="stylesheet" href="../static/ninjas.css">
	<title>Ninjas - Landing Page</title>
</head>
<body>
	<div class="wrapper">
		<h1>Info about ninja</h1>
		<ul>
			<li>johnahnz0rs is l33t</li>
			<li>Ninja are aka shinobi</li>
			<li>Ninja were more like spies than assassins</li>
		</ul>
		<p>This is some ol' bullshit info about ninja spread by hollywood<img src="../static/ninja.jpg" alt="this is some ol bullshit info about ninja spread by hollywood"></p>
		<p><a href="../">Back</a></p>
	</div> <!-- end wrapper -->
</body>
</html>