<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Coding Dojo > Python > Django > Semi-Restful > Users">
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
    <link rel="stylesheet" href="{% static 'users/bootstrap.css' %}">
    <link rel="shortcut icon" href="{% static 'users/favicon.ico' %}">
	<title>Users Show</title>
</head>


<body>
	<div class='wrapper'>
		<h1>User {{ user.id }}</h1>
		<table class='show_user'>
			<tr>
				<td>Full Name:</td>
				<td>{{ user.first_name }} {{user.last_name }}</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<td>Created at:</td>
				<td>{{ user.created_at}}</td>
			</tr>
		</table>
		<p><a href='/{{ user.id }}/edit'>Edit</a> | <a href='/{{ user.id }}/destroy'>Delete</a> | <a href="/users">Go Back</a></p>
	</div> <!-- end wrapper -->
</body>

</html>