* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.container {
    background-color: lightgray;
    margin: 0 auto;
    padding: 0 0 30px 0;
}

#header {
    /*margin-bottom: 30px;*/
    padding: 20px;
}

.header-links {
    display: inline-block;
}

.header-pipe {
    margin: 0 10px;
}


/*.red {*/
    /*color: red;*/
/*}*/

/*.green {*/
    /*color: green;*/
/*}*/

/*.blue {*/
    /*color: blue;*/
/*}*/

/*.bold {*/
    /*font-weight: bold;*/
    /*text-decoration: underline;*/
/*}*/