<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf=8">
	<meta name="description" content="python flask form_test johnahnz0rs is l33t">
	<link rel="stylesheet" href="../static/index.css">
	<title>Form Test Index</title>
</head>
<body>
	<div class="wrapper">
		<h1>Index Page</h1>
		<h3>Create a User</h3>
		<form action='/users' method='post'>
			Name: <input type="text" name="name"><br>
			Email: <input type="text" name="email">
			<br>
			<input type="submit" value="create user">
		</form>
	</div> <!-- end wrapper -->
</body>
</html>