/** {
	background-color: lightblue;
	color: white;
	font-family: trebuchet, helvetica, 'sans serif';
}*/
.container {
 /*	width: 970px;*/
 	margin: 100px auto;
}
h1, p {
	text-align: center;
}
input {
	display: block;
	margin: auto;
	background-color: white;
	color: black;
}
.guess-wrong {
	width: 200px;
	height: 200px;
	border: 2px solid black;
	background-color: red;
	margin: auto;
}
.guess-wrong h1 {
	background-color: red;
	margin: 80px auto;
}
.guess-NaN {
	width: 200px;
	height: 200px;
	border: 2px solid black;
	background-color: red;
	margin: auto;
}
.guess-NaN h1 {
	background-color: red;
	margin: 50px auto;
}
.guess-correct {
	width: 200px;
	height: 200px;
	border: 2px solid black;
	background-color: green;
	margin: auto;
}
.guess-correct h1 {
	background-color: green;
	margin: 50px auto;
}