<div class="container">
    <h1>GitHub Score</h1>

    <div class="my-form">
        <form (submit)="getScore($event, form)" #form="ngForm">
            <label for="username">Github Username: </label>
            <input type="text" id='username' name="username" required [(ngModel)]="user.username" #username="ngModel" placeholder="github username">
            <button disabled *ngIf="!username.valid">Calculate my Github Score</button>
            <button *ngIf="username.valid">Calculate my Github Score</button>
        </form>
    </div>

    <div class="score">
        <h3>Your Score: {{user.score}}</h3>
        <p class="{{user.messageColor}}">{{user.message}}</p>
    </div>
</div>