<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='UTF-8'>
	<meta name='description' content=''>
	<link rel='stylesheet' href='{{ url_for("static", filename="style.css") }}'>
	<script></script>
	<style>
		.header {
			text-decoration: underline;
		}
	</style>
	<title>Success Page</title>
</head>

<body>
	<div class='wrapper'>
		<div class='success'>The email you entered ({{ session['new_email'] }}) is a VALID email address! Thank you!</div>
		<a href='/' class='link'>Add another email</a>
		<table class='all_emails'>
			{% for email in all_emails: %}
				<tr>
					<td>{{ email['email'] }}</td>
					<td>{{ email['created_at'] }}</td>
				</tr>
			{% endfor %}
		</table>
	</div> <!-- end wrapper -->
</body>

</html>